:root {
  --bs-primary: #ff0088;
  --bs-primary-rgb: 255, 0, 136;

  --bs-link-color: #ff0088;
  --bs-link-color-rgb: 255, 0, 136;

  --bs-link-hover-color: #ff3da4;
  --bs-link-hover-color-rgb: 255, 61, 164;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #0f0f0f;
  --bs-body-bg-rgb: 15, 15, 15;
  --bs-tertiary-bg: #161616;
  --bs-tertiary-bg-rgb: 22, 22, 22;
}
