:root {
  --bs-primary: #ff0088;
  --bs-primary-rgb: 255, 0, 136;

  --bs-link-color: #ff0088;
  --bs-link-color-rgb: 255, 0, 136;

  --bs-link-hover-color: #ff3da4;
  --bs-link-hover-color-rgb: 255, 61, 164;
}
