* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 1em;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f08;
  border: 1px transparent solid;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1em;
  appearance: none;
  width: fit-content;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px rgba($color: #000, $alpha: 0.5) inset;
  }
}

.btn.secondary {
  color: #f08;
  background: transparent;
  border: 1px #f08 solid;
}

.dropdown {
  border: 1px #b4b4b4 solid;
  background: #e9e9e9;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1em;
  width: fit-content;
  cursor: pointer;
}

.input-field {
  border: 1px #b4b4b4 solid;
  background: #e9e9e9;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1em;
  width: fit-content;
}

.text-field {
  border: 1px #b4b4b4 solid;
  background: #e9e9e9;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1em;
  resize: none;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #b4b4b4;
  gap: 0.3em;
  padding: 1em;

  .title {
    font-size: 1.3em;
  }

  details {
    display: flex;
    flex-direction: column;
  }
}
