* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 1em;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f08;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1em;
  appearance: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: #b90063;
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #b4b4b4;
  gap: 0.3em;
  padding: 1em;

  .title {
    font-size: 1.3em;
  }

  details {
    display: flex;
    flex-direction: column;
  }
}
