* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 1em;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f08;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  cursor: pointer;

  &:hover {
    background: #b90063;
  }
}
